codes/
states/
# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log
*.out
*.err

# Environment variables
.env
*.env

# IDE and editor configurations
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store          # macOS
Thumbs.db          # Windows